html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.test {
  background: blue;
  padding: 16px;
}

@keyframes SlideUp {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}

.slide-up {
  animation: SlideUp .5s ease;
}